<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>


<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <a href="/survey-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Do a Survey</a>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>

                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Gender</th>
                    <th class="text-center col-2">Answer1</th>
                    <th class="text-center col-2">Answer2</th>
                    <th class="text-center col-2">Answer3</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                    <% } else { %>
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Gender</th>
                    <th class="text-center col-2">Answer1</th>
                    <th class="text-center col-3">Answer2</th>
                    <th class="text-center col-3">Answer3</th>
                    <%}%>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < surveyList.length; count++) { %>
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                    <td class="text-center col-2"><%= surveyList[count].Name %></td>
                    <td class="text-center col-2"><%= surveyList[count].Gender %></td>
                    <td class="text-center col-2"><%= surveyList[count].Answer1 %></td>
                    <td class="text-center col-2"><%= surveyList[count].Answer2 %></td>
                    <td class="text-center col-2"><%= surveyList[count].Answer3 %></td>

                    <% if(Email === surveyList[count].Email) { %>
                    <td class="text-center col-1">                       
                        <a href="/survey-list/edit/<%= surveyList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit</a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/survey-list/delete/<%= surveyList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                    <%}%>

                    <% } else { %>
                    <td class="text-center col-2"><%= surveyList[count].Name %></td>
                    <td class="text-center col-2"><%= surveyList[count].Gender %></td>
                    <td class="text-center col-2"><%= surveyList[count].Answer1 %></td>
                    <td class="text-center col-3"><%= surveyList[count].Answer2 %></td>
                    <td class="text-center col-3"><%= surveyList[count].Answer3 %></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>