<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="register-container">

        <div class="left-info-container">
            <div class="info-container">
                <h1>Sign Up</h1>
                <span>Create your own personal surbey and join with us</span>
            </div>
        </div>

        <div class="right-register-container">
            <div class="register-title">
                <span>REGISTER</span>
            </div>
            <div class="register-input-container">
                <form method="POST" autocomplete="off">
                    <input type="text" name="username" placeholder="Enter username" id="username" required autofocus>
                    <input type="password" name="password" placeholder="Enter password" id="password" required>
                    <input type="email" name="email" placeholder="Enter Email Address" id="email" required>
                    <input type="text" name="displayName" placeholder="Enter Display Name" id="displayName" required>
            </div>
            <div class="register-message-container">
                <!-- Message Area -->
                <% if(messages.length > 0) {%>
                <div class="alert alert-danger">
                    <%= messages %>
                </div>
                <% } %>
            </div>
            <div class="d-flex">
                <div class="register-action-container mx-auto">
                    <input id="signButton" type="submit" class="btn btn-success" value="Register">
                </div>
            </div>

            <div class="d-flex">
                <div class="register-action-container mx-auto">
                    <a href="/">
                        <input id="cancelButton" type="button" class="btn btn-warning" value=" Cancel ">
                    </a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</main>





<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>